<div class="signin-page__wrapper">
  <div class="signin-page__content-container">
    <h1 class="hidden">Форма авторизації</h1>
    <p class="page-title">Привіт знову!</p>
    <p class="page-description">Будь ласка, введіть свої дані, щоб увійти</p>

    <form class="signin-page__form">
      <ul class="signin-page__form-list">
        <li class="signin-page__form-list-item">
          <pet-world-input
            [control]="email"
            [label]="inputLabels.email"
            [inputType]="inputTypes.email"
            [placeholder]="placeholders.email"
          />
        </li>
        <li class="signin-page__form-list-item">
          <pet-world-input
            [control]="password"
            [label]="inputLabels.password"
            [inputType]="inputTypes.password"
            [placeholder]="placeholders.password"
          />
        </li>
      </ul>
      <div class="signin-page__confirm-wrapper">
        <pet-world-checkbox [control]="confirmCheckboxControl" class="signin-page__confirm-checkbox">
          <!-- TODO: add actual link to the policy -->
          <span class="signin-page__confirm-checkbox--text">Запам'ятати мене</span>
        </pet-world-checkbox>

        <p class="action-description">
          <a class="link" [routerLink]="['/', routingList.auth, routingList.forgotPassword]">Забули пароль?</a>
        </p>
      </div>

      <pet-world-button class="submit-button" [isDisabled]="!isFormValid" (click)="signIn()">
        {{ buttonContent.login }}
      </pet-world-button>
    </form>

    <p class="action-description">
      Ще не маєте акаунту?
      <a class="link" [routerLink]="['/', routingList.auth, routingList.signUp]">Зареєструватися</a>
    </p>
  </div>
</div>